.name {
  font-size: 1.5rem;
  color: blue;
  float: left;
  width: 185px;
}
ul li {
  height: 75px;
}
.game {
  margin-left: 5%;
  float: left;
}
.teams {
  margin-left: 5%;
  float: left;
}
.teamsView{
  margin-left: 5%;
  float: left;
}

/* Style the selection boxes */
.team_select div {
    float: left;
    margin-right: 2vh;
}

form.team_select {
  margin: 5%;
}

.headerNote{
  margin: 2%;
}
